src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api-config" api="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler ref="application-errors-handler" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler ref="application-errors-handler" />
    </flow>
    <flow name="get:\shippings:api-config">
        <flow-ref doc:name="getShippings" doc:id="17046fbf-1f4a-45fe-9f63-3960eebc5ae9" name="getShippings" />
    </flow>
    <flow name="post:\shippings:application\json:api-config">
        <flow-ref doc:name="createShipping" doc:id="8f9c97e4-0c7e-42df-85e0-96f69e1ebac6" name="createShipping" />
    </flow>
	<flow name="get:\shippings\(id):api-config">
        <flow-ref doc:name="getShippingById" doc:id="c4238019-9a04-4aa3-874d-32a75bda10f6" name="getShippingById" />
    </flow>
    <flow name="put:\shippings\(id):application\json:api-config">
		<flow-ref doc:name="updateShippingById" doc:id="336149e0-af3a-48aa-b308-9954665ca519" name="updateShippingById"/>
    </flow>
    <flow name="delete:\shippings\(id):api-config">
		<flow-ref doc:name="deleteShippingById" doc:id="60790669-08cc-4596-b365-b8e8334cca24" name="deleteShippingById"/>
    </flow>
</mule>
